@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #07011d;
  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-c-header.is-open .t-c-header-background {
  left: 0;
}
.t-c-header-button-wrapper {
  margin-left: auto;
}
.t-c-header-icon {
  display: none;
}

.t-c-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-c-navigation-list.is-open {
  right: 0;
}
.t-c-header-icon-menu {
  display: block;
}

.t-c-header-icon-button.is-open .t-c-header-icon-menu {
  display: none;
}

.t-c-header-icon-button.is-open .t-c-header-icon-close {
  display: block;
}

.t-c-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
}

.t-c-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
}
.t-c-header.is-open .t-c-header-background {
  left: 0;
}
.t-c-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #07011d;
  border: 1px solid #404040;
  padding: 9px 16px;
  border-radius: 16px;
  border-width: 1px;
}

.t-c-header-icon-menu {
  display: block;
}

.t-c-header-icon-button.is-open .t-c-header-icon-menu {
  display: none;
}

.t-c-header-icon-button.is-open .t-c-header-icon-close {
  display: block;
}

.t-c-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px 16px;
  position: relative;
}

.t-c-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  transition: 0.3s;
  z-index: 999;
  padding: 28px;
  border-radius: 16px;
  gap: 24px;
  border: 1px solid #404040;
  background: #07011d;
}

.t-c-navigation-list.is-open {
  right: 0;
}

.t-c-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-family: Onest;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.t-c-navigation-link:hover,
.t-c-navigation-link:focus {
  color: #b0a3ff;
}

.t-c-header.is-open {
  background-color: transparent;
}

.t-c-navigation-img {
  display: none;
}

@media screen and (min-width: 1207px) {
  .t-c-navigation-img {
    display: flex;
    margin-right: 206px;
  }
  .t-c-header-icon-title {
    display: none;
  }

  .t-c-header-button-wrapper {
    display: none;
  }
  .t-c-header {
    width: 100%;
    height: 60px;
    background: #07011d;
    border: 1px solid #404040;
    width: 1120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 8px;
    padding-right: 32px;
    padding-bottom: 8px;
    /* padding-left: 32px; */
    border-radius: 16px;
  }

  .t-c-header-background {
  }
  .t-c-header-icon-button {
    display: none;
  }
  .t-c-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-c-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
  }

  .t-c-navigation-link {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-c-navigation-item-desk {
    display: none;
  }
}
.t-c-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}
.t-c-home-container {
  width: 375px;
  padding: 140px 16px 0px;
  margin: auto;
}

.t-c-home-container-top {
  display: flex;
  flex-direction: column;
}

.t-c-home-title {
  font-family: Onest;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}

.t-c-home-text {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 40px 0 289px;
}

.t-c-home-link {
  transition: all 0.3s ease-in-out;
  background: #b0a3ff;
  width: 256px;
  height: 51px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 16px;
  color: #07011d;
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

@media screen and (min-width: 1207px) {
  .t-c-home {
    width: 1440px;
    height: 668px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }
  .t-c-home-container {
    width: 1440px;
    padding: 160px 160px 0px;
  }
  .t-c-home-container-top {
    width: 544px;
  }

  .t-c-home-title {
    font-family: Onest;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 80px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .t-c-home-text {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 40px 0 64px;
  }
  .t-c-home-link {
    margin: 0;
  }
}

.t-c-about-container {
  width: 375px;
  padding: 40px 16px;
  margin: auto;
}
.t-c-about-title {
  font-family: Onest;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.t-c-about-title-text {
  font-family: Onest;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  color: #b0a3ff;
  padding-top: 16px;
}
.t-c-about-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}
.t-c-about-text {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #9b9b9b;
}

.t-c-about-text-bold {
  font-family: Onest;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #b0a3ff;
}
.t-c-about-t {
  font-family: Onest;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-bottom: 16px;
}
.t-c-about-list {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #9b9b9b;
  list-style-type: disc;
  margin-left: 20px;
}
@media screen and (min-width: 1207px) {
  .t-c-about-container {
    width: 1440px;
    padding: 80px 160px;
  }
  .t-c-about-title {
    font-family: Onest;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .t-c-about-title-text {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .t-c-about-div {
    flex-direction: row;
    gap: 32px;
  }
  .t-c-about-text {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    width: 544px;
  }

  .t-c-about-text-bold {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-c-about-t {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-bottom: 16px;
  }
  .t-c-about-list {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-c-why-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.t-c-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.t-c-why-item {
  border-radius: 16px;
  border: 1px solid #404040;
  padding: 23px;
  background: #1f1b2c;
}

.t-c-why-text-bold {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: Onest;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-bottom: 32px;
}
.t-c-why-text-number {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: #37314d;
  font-family: Onest;
  font-weight: 900;
  font-style: Black;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #b0a3ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-c-why-text {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #9b9b9b;
}

@media screen and (min-width: 1207px) {
  .t-c-why-container {
    width: 1440px;
    padding: 80px 160px;
  }
  .t-c-why-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .t-c-why-item {
    width: 352px;
    height: 248px;
    border-radius: 16px;
    padding: 23px;
  }

  .t-c-why-text-bold {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-c-why-text {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-c-uniqueness {
  margin: auto;
  width: 375px;
  height: 634px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Who\ We\ Help.png");
}
.t-c-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px;
}
.t-c-uniqueness-list {
  padding-top: 40px;
  margin-left: 20px;
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  list-style-type: disc;
}

@media screen and (min-width: 1207px) {
  .t-c-uniqueness {
    width: 1440px;
    height: 472px;
    background-image: url("/img/Who\ We\ Help\ \(1\).png");
  }
  .t-c-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 160px;
  }
  .t-c-uniqueness-list {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-c-how-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px;
}
.t-c-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-c-how-item {
  font-family: Onest;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-c-how-text-bold {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-decoration: none;
}

.t-c-how-text {
  display: flex;
  align-items: end;
  gap: 16px;
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-c-how-img {
  width: 32px;
}
.t-c-how-t {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #9b9b9b;
}

@media screen and (min-width: 1207px) {
  .t-c-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 160px;
  }

  .t-c-how-item {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-c-how-text-bold {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-c-how-text {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-c-how-t {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-c-reviews-container {
  margin: auto;
  padding: 40px 16px;
  width: 375px;
}
.t-c-reviews-list {
  padding-top: 40px;
}

.t-c-reviews-item {
  margin: 0 8px;
  width: 327px;
  height: 322px;
  border-radius: 16px;
  border-width: 1px;
  padding: 24px;
  background: #1f1b2c;
  border: 1px solid #404040;
}

.t-c-reviews-text {
  font-family: Onest;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  height: 189px;
}
.t-c-reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 40px;
}
.t-c-reviews-img {
  width: 45px;
  height: 45px;
}
.t-c-reviews-text-bold {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-c-reviews-text-bold-two {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #b0a3ff;
}
@media screen and (min-width: 1207px) {
  .t-c-reviews-container {
    margin: auto;
    padding: 80px 160px;
    width: 1440px;
  }

  .t-c-reviews-item {
    margin: 0 16px;
    width: 544px;
    height: 283px;

    border-radius: 16px;
    border-width: 1px;
    padding: 24px;
  }

  .t-c-reviews-text {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    height: 150px;
  }

  .t-c-reviews-text-bold {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-c-reviews-text-bold-two {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-c-faq-container {
  padding: 40px 16px;
  width: 375px;
  margin: auto;
}
.t-c-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-c-faq-item {
  border-radius: 16px;
  border-width: 1px;
  padding: 16px;
  background: #1f1b2c;
}

.t-c-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-family: Onest;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-c-faq-answer {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #9b9b9b;
}
.t-c-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.t-c-toggle-button img {
  transition: transform 0.3s ease;
  width: 24px;
}
.t-c-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.t-c-faq-answer.open {
  max-height: 300px;
  opacity: 1;
  padding-top: 24px;
}

.t-c-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1207px) {
  .t-c-faq-container {
    padding: 80px 160px;
    width: 1440px;
    margin: auto;
  }

  .t-c-faq-item {
    border-radius: 16px;
    border-width: 1px;
    padding: 16px;
    background: #1f1b2c;
  }

  .t-c-faq-question {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-c-faq-answer {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-c-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-c-container h1 {
  font-family: Onest;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  color: #b0a3ff;
}

.t-c-container h2 {
  margin-top: 10px;
  font-family: Onest;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.t-c-container h3 {
  margin-top: 10px;
  font-family: Onest;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-c-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.t-c-container ul li {
  margin-bottom: 10px;
}
.t-c-container p {
  margin-top: 10px;
}
.t-c-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.t-c-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1207px) {
  .t-c-container {
    padding: 160px 160px 80px;
    width: 1440px;
    margin: auto;
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-c-container h1 {
    font-family: Onest;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .t-c-container h2 {
    margin-top: 20px;
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .t-c-container h3 {
    margin-top: 20px;
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-c-container ul {
    margin-top: 20px;
  }

  .t-c-container ul li {
    margin-bottom: 10px;
  }
  .t-c-container p {
    margin-top: 20px;
  }
}

.t-c-footer-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.t-c-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-c-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-c-footer-copyright {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1207px) {
  .t-c-footer-container {
    width: 1440px;
    padding: 40px 160px 16px;
  }

  .t-c-footer-text {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-c-footer-copyright {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-c-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 343px;
  padding: 32px;
  border-radius: 32px;
  background: #1f1b2c;

  z-index: 1000;
  display: none;
}

.t-c-cookie-popup-text-two {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.t-c-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.t-c-cookie-button {
  border: none;
  background-color: transparent;
  width: 256px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 28px;
  border-width: 1px;
  font-family: Onest;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in-out;
}
.t-c-cookie-button:hover {
  background: #ccc4ff;
  color: #07011d;
}
#accept-cookies {
  background: #ffffff;
  color: #07011d;
}
#accept-cookies:hover {
  background: #b0a3ff;
}
.t-c-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1207px) {
  .t-c-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .t-c-cookie-popup-text-two {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 622px;
  }

  .t-c-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .t-c-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1262px;
    padding: 32px;
    display: none;
  }
}
